html {
    background-color: #222222;
}

body {
    width: 100%;
    height: 100%;
    position: static;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-size: 2.0rem;
    font-family: sans-serif;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-top: 2rem;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-top: 2rem;
    margin-bottom: 20px;
}

h3 {
    color: rgb(106, 106, 106);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}


#play-button {
    position: relative;
    background-color: rgba(111, 255, 0, 0.8);
    padding: 20px;
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
}

#play-button:hover {
    opacity: 0.8;
}

#reset-button {
    position: relative;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
}

#reset-button:hover {
    opacity: 0.8;
}

#reset-mod-button {
    position: relative;
    background-color: rgba(255, 225, 74, 0.8);
    padding: 20px;
    padding: 2rem;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
}

#reset-mod-button:hover {
    opacity: 0.8;
}

.playerCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-top: 2rem;
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
}

.playerCard {
    background-color: black;
    padding: 10px;
    margin: 10px;
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
}

.playerImage {
    width: 200px;
    height: 250px;
    overflow: hidden;
}

.playerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

td {
    color: white;
    text-align: center;
    border-color: rgb(171, 171, 171);
    border-width: 1px;
    border-style: solid;
    margin: 0px;
    padding: 0px;
}

.contestantName {
    font-weight: 600;
    text-align: center;
    width: 100%;
}

.scoreButton {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
    font-size: 30px;
    overflow: hidden;
}

.scoreButton:hover {
    opacity: 0.8;
}

.plusButton {
    background-color: rgb(90, 255, 90);
}

.minusButton {
    background-color: rgb(255, 82, 82);
}

.heartratePanel {
    background-color: rgb(42, 0, 0);
    height: 580px;
    width: 400px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
}

h2 {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -0px;

}

#displayhr-button {
    position: relative;
    background-color: rgba(255, 0, 0, 0.8);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
    margin: auto;
    width: 400px;
}

#heartrateSession-input {
    font-size: 20px;
    width: 100px;
    margin: 0px;
}

.connectionControls {
    margin-top: 10px;
}

#heartrateConnect {
    background-color: rgba(17, 255, 0, 0.8);
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.2s;
    margin: auto;
    width: 180px;
    margin: 0px;
    transform: translate(4px, 0px);
}

.HRInfoDisplay {
    font-size: 30px;
    display: flex;
}

.valueHRContainer {
    width: 200px;

    background-color: rgb(63, 63, 63);
    border: 1px solid black;
    text-align: center;
}

h4 {
    color: rgb(115, 115, 115);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.HRValue {
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.connectionControl {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    background-color: rgb(144, 84, 84);
    padding: 10px;
}

.readout {
    font-size: 20px;
    font-weight: 600;
    text-align: center;

}

.connectionButton {
    border-radius: 0px;
    font-size: 20px;
    font-weight: 600;
}

.maxHRControl {
    background-color: rgb(84, 87, 144);
    padding: 10px;
    font-size: 25px;
}

h5 {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.maxTimer {
    color: white;
    background-color: black;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
    padding: 5px;
}

.maxHRList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5px;
    background-color: rgb(60, 60, 60);
}

.maxHRList table {
    width: 100%;
}